:root {
    --text: #fff;
    --main-button: #b47b48;
    --hero-button: #c85312;
    --background: #202023;
    --bg-hero: #ebad51;
    --quality: rgba(242, 242, 242, 0.3);
    --modal-input: #f5f5f5;
}
* {
    box-sizing: border-box;
    flex-wrap: wrap;
}
body {
    background-color:var(--background);
    color: var(--text);
    line-height: normal;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
} 
ul, h1, h2, h3, h4, p, button, ol, iframe, a {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--text);
}
a:hover {
    color: var(--bg-hero);
}
ul {
    list-style-type: none;
}
.container {
    max-width: 1230px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 55px 15px 71px;
}
.navigation-list{
    display: flex;
    gap: 31px;
}
.navigation-list_link {
    font-weight: 200;
}
.language {
    display: flex;
    gap:45px;
}

.hero {
    padding: 155px 0 36px;
    background: linear-gradient(89deg, #000 0%, rgba(3, 3, 3, 0) 60.64%), url(../images/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-heading {
    font-weight: 200;
    font-size: 70px;
    margin-bottom: 43px;
}
.hero-text {
    font-size: 21px;
    margin-bottom: 33px;
}
.hero-button {
    border-radius: 17px;
    padding: 21px 40px 18px 38px;
    background-color: var(--main-button);
    color: var(--text);
    border: none;
}
.hero-button:hover {
    background-color: var(--bg-hero);
    color: var(--background);
}
.hero-list {
    display: flex;
    justify-content: space-between;
}
.hero-list_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 125px;
    background-color: var(--background);
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 45px;
}
.hero-list_item:hover {
    background-color: var(--bg-hero);
}
.hero-list_item:first-child {
    background-image: linear-gradient(81deg, #000 -110.34%, rgba(0, 0, 0, 0.00) 80.32%), url(../images/hero-cookie.png);
    padding-left: 165px;
    text-align: center;
}
.hero-list_item:nth-child(2) {
    background-image: linear-gradient(81deg, #000 -110.34%, rgba(0, 0, 0, 0.00) 80.32%), url(../images/hero-croissant.png);
    padding-left: 214px;
    text-align: center;
}
.hero-list_item:last-child {
    background-image: linear-gradient(81deg, #000 -110.34%, rgba(0, 0, 0, 0.00) 80.32%), url(../images/hero-pie.png);
    padding-left: 185px;
    text-align: center;
}
.hero-list_h4 {
    font-weight: 200;
    margin: 28px 18px 13px 27px;
}
.hero-list_h4:last-child {
    margin-right: 20px;
}
.hero-list_text {
    font-weight: 500;
    font-size: 16px;
    margin-right: 11px;
    margin-bottom: 35px;
    margin-left: 6px; 
}
.hero-list_text:last-child {
    margin-right: 9px;
}
.hero-list_btn {
    background-color: var(--hero-button);
    font-weight: 900;
    font-size: 16px;
    padding: 10px 22px 5px;
    color: var(--text);
    border: none;
}
.hero-list_btn:hover {
    background-color: var(--background);
    color: var(--hero-button);
}
.menu {
    padding: 37px 0 74px;
}
.menu-heading {
    font-weight: 100;
    font-size: 64px;
    text-align: center;
}
.menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 199px;
    align-items: center;
    justify-content: center;
    row-gap: 7px;
}
.menu-list_item {
    text-align: center;
}
.menu-list_div {
    border: 1px solid var(--text);
    width: 328px;
    text-align: center;
    margin-bottom: 9px;
}
.menu-list_img {
    width: 294px;
    background-color: var(--background);
}
.menu-list_title {
    font-weight: 800;
    font-size: 25px;
}
.menu-list_btn {
    font-weight: 800;
    font-size: 25px;
    border-radius: 17px;
    background-color: var(--main-button);
    padding: 3px 42px 7px;
    color:var(--text);
    border: none;
}
.menu-list_btn:hover {
    background-color: var(--bg-hero);
    color: var(--background);
}

.quality {
    padding: 90px 0 48px;
    background-image: url(../images/quality-group.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.quality-title {
    font-family: 'Italiana', sans-serif;
    font-weight: 400;
    font-size: 64px;
    text-align: center;
}

.quality-list {
    display: flex;
    align-items: center;
    height: 585px;
}
.one {
    align-self: flex-start;
    margin-right: 40px;
}
.two {
    align-self: center;
    margin-right: 91px;
}
.three {
    align-self: flex-end;
}
.quality-img-one {
    width: 355px;
    height: 223px;
}
.quality-img-two {
    width: 275px;
    height: 284px;
}
.quality-img-three {
    width: 334px;
    height: 332px;
}
.quality-div {
    background: var(--quality);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(0);
    width: 280px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    padding: 30px 0 49px 10px;
    backdrop-filter: blur(36px);
}
.quality-div_text {
    font-weight: 500;
    font-size: 24px;
}
.why-us {
    padding: 50px 0 57px;
    background: linear-gradient(89deg, #000 0%, rgba(3, 3, 3, 0) 100%), url(../images/why-bg.jpg);
}
.why-title {
    font-family: 'Italiana', sans-serif;
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 120px;
}
.why-list {
    display: flex;
    gap:178px;
    justify-content: center;
    text-align: center;
}
.why-list_text {
    font-weight: 700;
    font-size: 24px;
}
.where {
    padding: 60px 0 50px;
}
.where-box {
    display: flex;
}
.where-title {
    font-family: 'Italiana', sans-serif;
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 43px;
}
.how-title, .when-title {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 47px;
}
.where-box-link {
    margin-right: 133px;
}
.how {
    margin-right: 35px;
}
.how-tiktok {
    margin-top: 64px;
    margin-bottom: 36px;
}
.when-title {
    text-align: center;
}
.when-time {
    font-weight: 200;
    font-size: 24px;
    text-align: center;
}
.footer-box {
    padding: 41px 0 85px;
    display: flex;
    gap: 142px;
}
.foot-name_title {
    font-weight: 200;
    font-size: 40px;
    margin-top: 23px;
    margin-bottom: 16px;
}
.foot-name_text {
    font-size: 20px;
}
.about-title, .movement-title, .company-title {
    margin-bottom: 41px;
}
.rights {
    padding-bottom: 42px;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.541);
    z-index: 10;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal {
    background-image: url('../images/modal-bread.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 476px 446px;
    background-color: var(--text);

    position: relative;
    border-radius: 50px;
    width: 990px;
    height: 669px;
    padding: 94px 0 94px 87px;
}
.modal-text {
    width: 412px;
}
.modal-title {
    font-weight: 200;
    font-size: 48px;
    color: #000;
    padding-bottom: 39px;
}
.modal-input {
    width: 412px;
    height: 72px;
    padding: 20px 15px;
    background-color: var(--modal-input);
    border: none;
    border-radius: 5px;
    margin-bottom: 63px;
    outline: none;
}
.modal-input:placeholder-shown {
    padding-right: 15px;
}
.modal-input::placeholder {
    color: #000;
}
.modal-button {
    border-radius: 17px;
    padding: 21px 40px 18px 38px;
    background-color: var(--main-button);
    color: var(--text);
    border: none;
}
.modal-button:hover {
    background-color: var(--bg-hero);
    color: var(--background);
}